.main {
  width: 80%;
  background-color: #c4c4c4;
  margin: 0;
  border-radius: 30px;
  padding: 25px;
  opacity: 0.97;
}

.main div {
  width: 100%;
  display: flex;
}

.main .titelContainer {
  height: 15%;
  justify-content: center;
  font-size: 0.7rem;
}

.main .buttonContainer {
  height: 15%;
  justify-content: flex-end;
  padding-right: 20px;
}
.main .moviesContainer {
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
